body {
	background-color: black;
}


.logo img {
	width: 30px;
	height: 30px;
}

.menu-header {
	background-color: transparent;
	position: absolute;
	top: 0;
    color: white;
}

header {
    color: white
}


.card {
	background-color: lightseagreen;
}

.card-text {
	color: white;
}

.card-title {
	color:white;
}

.container {
	background-color: black;
	color: white;
}

.titulo-presentacion {
	color: white;
	text-align: center;
}

.icon {
background-color: lightseagreen;
text-align: center;
}

.parrafos {
	display: inline-flex;
}

.h2 {
text-align: center;
}

footer {
    padding: 20px;
    background-color: lightseagreen;
    color: white;
}

.fa-brands {
    font-size: xx-large;
}

.logo-footer {
    text-align: center;
    font-size: x-large;
}