.logo img {
    width: 30px;
	height: 30px;
}

.menu-header {
    background-color: transparent;
}

.card {
    background-color: lightseagreen;
}

.card-text {
    color: white;
}

.card-title {
    color:white
}

.container {
background-color: black;
}